In [4]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import boto3
import json
import psycopg2

In [5]:
print(boto3.__version__)

1.9.7

In [12]:
print(configparser.__version__)

AttributeError: module 'configparser' has no attribute '__version__'

In [6]:
print(psycopg2.__version__)

2.7.4 (dt dec pq3 ext lo64)

In [9]:
from platform import python_version
print(python_version())

3.6.3

config = configparser.ConfigParser()
config.read_file(open('dwh_class.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [3]:
import boto3

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

sampleDbBucket =  s3.Bucket("udacity-dend")

In [4]:
for obj in sampleDbBucket.objects.filter(Prefix="log-data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-30-events.json')

In [5]:
for obj in sampleDbBucket.objects.filter(Prefix="song_data/A/A/B"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABCL128F4286650.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABDL12903CAABBA.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABEV12903CC53A4.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABFH128F92C812E.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABGU12903CC8DCF.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABHB12903CAFC2F.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABHO12903D08576.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABHP128F427AEC8.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABIG128F9356C56.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABIX128F92D6F94.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABJS128F9325C99.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABKD128F9302CE9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABLR128F423B7E3.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABNV128F425CEE1.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABOA128F933684A.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABOG128F42955B1.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABPG128F14774DD.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABPO128F9312A56.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABPQ128F428F0B0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABRX12903CC4816.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABTB128F146BF24.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABUQ128F92ECD79.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABVM128F14970CA.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABVM128F92CA9DC.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABWH128F427ABE8.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABXA128F9326351.json')

In [13]:
Log_data = s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-28-events.json').get()['Body'].read()
df_log_data = pd.read_json(Log_data, lines=True)
df_log_data[df_log_data['page']=='NextSong'].head(10)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Mitch Ryder & The Detroit Wheels,Logged In,Tegan,F,65,Levine,205.03465,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,992,Jenny Take A Ride (LP Version),200,1543363215796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
1,The Spill Canvas,Logged In,Tegan,F,66,Levine,358.03383,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,992,The TIde (LP Version),200,1543363420796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
2,Mogwai,Logged In,Tegan,F,67,Levine,571.19302,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,992,Two Rights Make One Wrong,200,1543363778796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
3,Spor,Logged In,Tegan,F,68,Levine,380.34240,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,992,Way Of The Samurai,200,1543364349796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
4,DJ Dizzy,Logged In,Tegan,F,69,Levine,221.15220,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,992,Sexy Bitch,200,1543364729796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
5,Erik Hassle,Logged In,Tegan,F,70,Levine,183.43138,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,992,Hurtful,200,1543364950796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80
13,Phoenix,Logged In,Ryann,F,2,Smith,207.15057,free,"Palestine, TX",PUT,NextSong,1.540685e+12,964,Holdin' On Together,200,1543369249796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,92
14,Arctic Monkeys,Logged In,Ryann,F,3,Smith,175.43791,free,"Palestine, TX",PUT,NextSong,1.540685e+12,964,Mardy Bum,200,1543369456796,Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; r...,92
15,tobyMac,Logged In,Braden,M,0,Parker,229.69424,free,"Youngstown-Warren-Boardman, OH-PA",PUT,NextSong,1.540999e+12,801,Burn For You,200,1543377306796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",74
17,Jadakiss / Swizz Beatz / OJ Da Juiceman,Logged In,Martin,M,1,Johnson,191.84281,free,"Minneapolis-St. Paul-Bloomington, MN-WI",PUT,NextSong,1.541082e+12,996,Who's Real,200,1543382018796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",55

In [8]:
song_data = s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/B/TRAABRX12903CC4816.json').get()['Body'].read()
df_song_data = pd.read_json(song_data, lines=True)
df_song_data.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARPTKAK1187FB5308A,NaN,,NaN,Plus One,308.87138,1,SONAAEB12AB018A443,What Child Is This? (Album Version),2002

In [ ]:
# create Redshift and its IAM role for accessing S3 buckets

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param         Value
0        DWH_CLUSTER_TYPE   single-node
1           DWH_NUM_NODES             1
2           DWH_NODE_TYPE     dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster-p
4                  DWH_DB         dwh-p
5             DWH_DB_USER     dwhuser-p
6         DWH_DB_PASSWORD    Passw0rd-p
7                DWH_PORT          5439
8       DWH_IAM_ROLE_NAME     dwhRole_p

In [52]:
iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

In [4]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole_p already exists.

In [5]:
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

1.2 Attaching Policy

200

In [6]:
print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.3 Get the IAM role ARN
arn:aws:iam::314840521047:role/dwhRole_p

In [14]:
#1.1 Create redshift cluster, 

try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
#         NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [53]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster-p
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,dwhuser-p
4,DBName,dwh-p
5,Endpoint,"{'Address': 'dwhcluster-p.cunaja1cmvxf.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-19174361
7,NumberOfNodes,1

In [6]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster-p.cunaja1cmvxf.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::314840521047:role/dwhRole_p

In [7]:
%load_ext sql

In [8]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

HOST= config.get("CLUSTER","HOST")
DB_NAME= config.get("CLUSTER","DB_NAME")
DB_USER= config.get("CLUSTER","DB_USER")
DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DB_PORT = config.get("CLUSTER","DB_PORT")

ARN = config.get("IAM_ROLE","ARN")

In [9]:
ARN

'arn:aws:iam::314840521047:role/dwhRole_p'

In [ ]:
## STEP 3: Open an incoming  TCP port to access the cluster ednpoint

In [21]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DB_PORT),
        ToPort=int(DB_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-43774162')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [51]:
print(HOST)

dwhcluster-p.cunaja1cmvxf.us-west-2.redshift.amazonaws.com

In [10]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DB_USER, DB_PASSWORD, HOST, DB_PORT, DB_NAME)
print(conn_string)

postgresql://dwhuser-p:Passw0rd-p@dwhcluster-p.cunaja1cmvxf.us-west-2.redshift.amazonaws.com:5439/dwh-p

In [11]:
%sql $conn_string

'Connected: dwhuser-p@dwh-p'

conn_string = "postgresql://dwhuser-p:Passw0rd-p@dwhcluster-p.cunaja1cmvxf.us-west-2.redshift.amazonaws.com:5439/dwh-p"

In [42]:
print(conn_string)

postgresql://dwhuser-p:Passw0rd-p@dwhcluster-p.cunaja1cmvxf.us-west-2.redshift.amazonaws.com:5439/dwh-p

In [3]:
#connect to PostgreSQL in AWS Redshift
conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
cur = conn.cursor()

In [4]:
print(*config['CLUSTER'].values())

dwhcluster-p.cunaja1cmvxf.us-west-2.redshift.amazonaws.com dwh-p dwhuser-p Passw0rd-p 5439

In [33]:
staging_events_table_drop = "DROP TABLE IF EXISTS staging_events"

In [34]:
cur.execute(staging_events_table_drop)
conn.commit()

In [35]:
staging_events_table_create= ("""
CREATE TABLE IF NOT EXISTS staging_events (
    EventLog_id INT IDENTITY,
    artist VARCHAR,
    auth VARCHAR,
    firstName VARCHAR,
    gender VARCHAR,
    iteminSession INTEGER,
    lastName VARCHAR,
    length DOUBLE PRECISION,
    level VARCHAR,
    location VARCHAR,
    method VARCHAR,
    page VARCHAR,
    registration VARCHAR,
    sessionID BIGINT,
    song VARCHAR,
    status INTEGER,
    ts VARCHAR,
    userAgent VARCHAR,
    userID VARCHAR,
    PRIMARY KEY (EventLog_id))
""")

staging_events_table_create= ("""
CREATE TABLE IF NOT EXISTS staging_events (
    EventLog_id INT IDENTITY(0,0.5),
    artist VARCHAR,
    auth VARCHAR,
    firstName VARCHAR,
    gender VARCHAR,
    iteminSession INTEGER,
    lastName VARCHAR,
    length DOUBLE PRECISION,
    level VARCHAR,
    location VARCHAR,
    method VARCHAR,
    page VARCHAR,
    registration VARCHAR,
    sessionID BIGINT,
    song VARCHAR,
    status INTEGER,
    ts VARCHAR,
    userAgent VARCHAR,
    userID VARCHAR,
    PRIMARY KEY (EventLog_id))
""")

In [27]:
staging_events_table_create

'\nCREATE TABLE IF NOT EXISTS staging_events (\n    EventLog_id INT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,\n    artist VARCHAR,\n    auth VARCHAR,\n    firstName VARCHAR,\n    gender VARCHAR,\n    iteminSession INTEGER,\n    lastName VARCHAR,\n    length DOUBLE PRECISION,\n    level VARCHAR,\n    location VARCHAR,\n    method VARCHAR,\n    page VARCHAR,\n    registration VARCHAR,\n    sessionID BIGINT,\n    song VARCHAR,\n    status INTEGER,\n    ts VARCHAR,\n    userAgent VARCHAR,\n    userID VARCHAR\n'

In [17]:
curs = conn.cursor()
curs.execute("ROLLBACK")
conn.commit()

In [36]:
cur.execute(staging_events_table_create)
conn.commit()

In [37]:
staging_events_copy = ("""
copy staging_events from 's3://udacity-dend/log_data' 
credentials 'aws_iam_role={}'
json 's3://udacity-dend/log_json_path.json';
""").format(ARN)

In [38]:
cur.execute(staging_events_copy)
conn.commit()

In [ ]:
staging_songs_table_drop = "DROP TABLE IF EXISTS staging_songs"
cur.execute(staging_songs_table_drop)
conn.commit()

In [47]:
staging_songs_table_create = ("""
CREATE TABLE IF NOT EXISTS staging_songs (
    artist_id VARCHAR,
    artist_latitude DOUBLE PRECISION,
    artist_location VARCHAR,
    artist_longitude DOUBLE PRECISION,
    artist_name VARCHAR,
    duration DOUBLE PRECISION,
    num_songs INTEGER,
    song_id VARCHAR,
    title VARCHAR,
    year INTEGER )
""")

In [48]:
cur.execute(staging_songs_table_create)
conn.commit()

In [52]:
staging_songs_copy = ("""
copy staging_songs from 's3://udacity-dend/song_data' 
credentials 'aws_iam_role={}'
json 'auto'
;
""").format(ARN)

In [53]:
cur.execute(staging_songs_copy)
conn.commit()

In [10]:
songplay_table_create = ("""
CREATE TABLE IF NOT EXISTS songplays (
    songplay_id INT IDENTITY, 
    start_time TIMESTAMP NOT NULL, 
    user_id varchar NOT NULL, 
    level varchar, 
    song_id varchar, 
    artist_id varchar, 
    session_id int NOT NULL, 
    location varchar, 
    user_agent varchar,
    PRIMARY KEY (songplay_id) )
""")

In [11]:
cur.execute(songplay_table_create)
conn.commit()

In [ ]:
select timestamp 'epoch' + your_timestamp_column * interval '1 second' AS your_column_alias from your_table

timestamp 'epoch' + se.ts/1000 * interval '1 second' AS start_time

In [30]:
curs = conn.cursor()
curs.execute("ROLLBACK")
conn.commit()

In [24]:
songplay_table_insert = ("""
INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent) 
SELECT  
    timestamp 'epoch' + se.ts/1000 * interval '1 second',
    se.userID, 
    se.level, 
    ss.song_id,
    ss.artist_id, 
    se.sessionID,
    se.location, 
    se.userAgent
FROM staging_events se, staging_songs ss
WHERE se.page = 'NextSong' 
AND se.artist = ss.artist_name 
AND se.song = ss.title 
AND se.length = ss.duration
""")

In [25]:
cur.execute(songplay_table_insert)
conn.commit()

In [31]:
staging_songs_table_drop = "DROP TABLE IF EXISTS users"
cur.execute(staging_songs_table_drop)
conn.commit()

In [32]:
user_table_create = ("""
CREATE TABLE IF NOT EXISTS users (
    user_id varchar PRIMARY KEY, 
    first_name varchar, 
    last_name varchar, 
    gender varchar,
    level varchar )
""")

In [33]:
cur.execute(user_table_create)
conn.commit()

In [34]:
user_table_insert = ("""
INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT userId, firstName, lastName, gender, level
FROM staging_events   
""")

In [35]:
cur.execute(user_table_insert)
conn.commit()

In [37]:
song_table_create = ("""
CREATE TABLE IF NOT EXISTS songs (
    song_id varchar PRIMARY KEY, 
    title varchar, 
    artist_id varchar, 
    year int, 
    duration float )
""")

In [38]:
cur.execute(song_table_create)
conn.commit()

In [39]:
song_table_insert = ("""
INSERT INTO SONGS (song_id, title, artist_id, year, duration)
SELECT song_id, title, artist_id, year, duration
FROM staging_songs
""")

In [40]:
cur.execute(song_table_insert)
conn.commit()

In [41]:
artist_table_create = ("""
CREATE TABLE IF NOT EXISTS artists (
    artist_id varchar PRIMARY KEY,  
    name varchar, 
    location varchar, 
    latitude float, 
    longitude float )
""")

In [42]:
cur.execute(artist_table_create)
conn.commit()

In [46]:
artist_table_insert = ("""
INSERT INTO artists (artist_id, name, location, latitude, longitude)
SELECT artist_id, artist_name, artist_location, artist_latitude, artist_longitude
FROM staging_songs
""")

In [47]:
cur.execute(artist_table_insert)
conn.commit()

In [45]:
curs = conn.cursor()
curs.execute("ROLLBACK")
conn.commit()

In [48]:
time_table_create = ("""
CREATE TABLE IF NOT EXISTS time(
    start_time TIMESTAMP PRIMARY KEY, 
    hour int, 
    day int, 
    week int, 
    month int, 
    year int, 
    weekday int )
""")

In [49]:
cur.execute(time_table_create)
conn.commit()

In [50]:
time_table_insert = ("""
INSERT INTO time(start_time, hour, day, week, month, year, weekDay)
SELECT start_time, 
    extract(hour from start_time),
    extract(day from start_time),
    extract(week from start_time), 
    extract(month from start_time),
    extract(year from start_time), 
    extract(dayofweek from start_time)
FROM songplays
""")

In [51]:
cur.execute(time_table_insert)
conn.commit()